<html>
	<head>
		<title>DayOne - Admin panel</title>
		<link href="/main.css" rel="stylesheet" >
	</head>
	<body>
		<div class='container'>
			<h1>Welcome to Admin Panel</h1>
			<div class='relative'>
			<form class='login-form' action="/allUsers">
     		<button>Show Users</button>
    		</form>

			<form class='login-form' action="/logout">
     		<button>Logout</button>
    		</form>
			</div>
		</div>
	</body>
</html>
