<html>
	<head>
		<title>Home page</title>
		<link href="/main.css" rel="stylesheet" >
	</head>
	<body>
		<div class='container'>
			<h1>Welcome to home</h1>
			<div class='relative'>
			<h2>This is home</h2>
			</div>
		</div>
	</body>
</html>