<html>
	<head>
		<title>Page not found</title>
		<link href="/main.css" rel="stylesheet" >

        <script>
            setTimeout(function () {
            // after 2 seconds
            window.location = "/";
            }, 2000)
        </script>

	</head>
	<body>
		<div class='container'>
			<h1>Signed Out</h1>
		</div>
	</body>
</html>